@mixin headline { font-family: "proxima-nova-condensed",Helvetica, sans-serif; font-weight:800; text-align:left;}
@mixin body {font-family: "adelle",Georgia, serif; text-align:left; font-weight:300;}


$orange:#f4a103;
$teal:#51a7a6;
$blue:#3daad5;
$gray:#999;
$gold:#f3d77e;

.deck-container {
	padding:0;
	a { color:$gold; }
	
/*----SUBHEAD-------*/
	.slide-subhead {
		background-color:$teal;
		a { color:$gold; }
		div { margin:0 auto; width:35%; padding:5%; background-color:white; }
		h1 { padding:0; @include headline; color:$orange;}
		h2 { @include body; color:$gray;}
		p { @include body; color:$gray; font-weight:300;}
			
	 /*Lifted Edges Code*/
	 .box{ 
	 	width:100%; 
	 	margin:0 auto;
		padding:3em;
	 }
    
	 .drop-shadow {
	     position:relative;
	     float:left;
	     width:40%;    
	     margin:0 25%; 
	     background:#fff;
	     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	     box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	 }
    
	 .drop-shadow:before,
	 .drop-shadow:after {
	     content:"";
	     position:absolute; 
	     z-index:-2;
	 }
    

    
	 .lifted {
	     -moz-border-radius:0 0 4px 4px; 
	     border-radius:0 0 4px 4px; 
	 }
    
	 .lifted:before,
	 .lifted:after { 
	     bottom:15px;
	     left:10px;
	     width:50%;
	     height:20%;
	     max-width:300px;
	     -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
	     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	     box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
	     -webkit-transform:rotate(-3deg);    
	     -moz-transform:rotate(-3deg);   
	     -ms-transform:rotate(-3deg);   
	     -o-transform:rotate(-3deg);
	     transform:rotate(-3deg);
	 }
    
	 .lifted:after {
	     right:10px; 
	     left:auto;
	     -webkit-transform:rotate(3deg);   
	     -moz-transform:rotate(3deg);  
	     -ms-transform:rotate(3deg);  
	     -o-transform:rotate(3deg);
	     transform:rotate(3deg);
	 }
		/*END---Lifted Edges Code*/		
	}
/*END----SUBHEAD*/



}	